h1 {
    font-size: 1.2em;
}
#formulaire{
    display: flex;
    height: 53px;
    margin-bottom: 10px;
}
input {
    font-size: 1.1em;
    border:none;
    background: none;
    outline:none;
    font-weight: bolder;
}
input[type=text]
{
    border: solid 1px #f2f2f2;
    padding-left: 1em;
    color:black;
}
input[type=submit]
{
    background-color: #0065fc;
    color:white;
    padding-left:1em;
    padding-right:1em;
    border-radius: 0 1em 1em 0;
}
#middle{
    display:flex;
    justify-content:space-between;
}
#hebergements{
    width:66%;
    height:auto;
    background-color: #f2f2f2;
    border-radius:1.5em;
}
.three-cards{
    display:flex;
    justify-content: space-between;
}
.photo-hebergement{
    width:95%;
    border-radius:1em 1em 0 0 ;
    margin:5px;
    margin-bottom:0;
}
.box-hebergement{
    width:100%;
    background-color: white;
    border-radius:1em;
    margin-bottom:30px;
    margin-top:20px;
    padding-bottom:1em;
    height:auto;
}
.texte-hebergement{
    width:100%;
    margin-top:-8px;
    margin-left:19px;
}
.box-hebergement .fas{
    font-size:0.8em;
}
.box-hebergement h3{
    font-size:1.05em;
}